#amount-of-words {
  text-align: center;
  margin-right: 10px;
}

button {
  border: 2px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--container-background);
  margin-right: 5px;
}

button:last-of-type {
  margin-right: 0;
}

button:hover {
  cursor: pointer;
  color: var(--container-background);
  background-color: var(--text-color);
}

.selected {
  background-color: var(--clicked-buttonBg);
  color: var(--clicked-buttonText);
}