#letters-container {
  background-color: var(--container-background);
  border: 2px solid var(--border-color);
  width: 50%;
  max-height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-bottom: 40px;
}

#type-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}