main {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover:hover {
  color: var(--hover-effect);
}

.letter {
  display: inline;
  font-size: 36px;
  letter-spacing: 1.5px;
  font-family: sans-serif;
  color: var(--letters-color);
}

/*? Themes */
footer {
  width: 100%;
}

#change-theme {
  width: 14%;
}

#change-theme:hover,
.theme:hover,
.theme-choice:hover,
.show-themes {
  cursor: pointer;
}

#light-mode,
#dark-mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.light-themes,
.dark-themes {
  text-align: left;
}

.light-themes,
.dark-themes,
#light-mode,
#dark-mode {
  display: none;
}